<section id="audio" class="spotlights">
	<!-- Three -->
    <section>
		
		<div class="content">
			<div class="inner">
				<header class="major">
					<h3>The Ragtime Rumours - EP 1</h3>
				</header>
				<p>Written, produced and engineered by The Ragtime Rumours at Kink Studio. </p>
                <audio id="audio-player" src="assets/media/love_and_lust.mp3" type="audio/mp3" controls="controls" preload="metadata"></audio>&nbsp;&nbsp;&nbsp; Love And Lust &nbsp;
			</div>
			<div class="inner">
                <audio id="audio-player" src="assets/media/aintnobody.mp3" type="audio/mp3" controls="controls" preload="metadata"></audio>&nbsp;&nbsp;&nbsp; Ain't Nobody &nbsp;
			</div>
			<div class="inner">
                <audio id="audio-player" src="assets/media/16tons.mp3" type="audio/mp3" controls="controls" preload="metadata"></audio>&nbsp;&nbsp;&nbsp; 16 Tons
			</div>
			<div class="inner">
                <audio id="audio-player" src="assets/media/paradise.mp3" type="audio/mp3" controls="controls" preload="metadata"></audio>&nbsp;&nbsp;&nbsp; Paradise
			</div>
			<div class="inner">
                <audio id="audio-player" src="assets/media/get_up_on_my_feet.mp3" type="audio/mp3" controls="controls" preload="metadata"></audio>&nbsp;&nbsp;&nbsp; Get Up On My Feet
			</div>
		</div>
		
		<a href="generic.html" class="image">
			<img src="assets/images/pic17.jpg" alt="" data-position="center center" />
		</a>
	</section>
	
	<!--image section -->

    <div class="box alt">
        <div class="row 50% uniform">
            <div class="4u"><span class="image fit"><img src="assets/images/timo_tom.jpg" alt="" /></span></div>
            <div class="4u"><span class="image fit"><img src="assets/images/tom_niki.jpg" alt="" /></span></div>
            <div class="4u$"><span class="image fit"><img src="assets/images/sjaak.jpg" alt="" /></span></div>
            <!-- Break -->
            <div class="4u"><span class="image fit"><img src="assets/images/street.jpg" alt="" /></span></div>
            <div class="4u"><span class="image fit"><img src="assets/images/band_cl1.png" alt="" /></span></div>
            <div class="4u$"><span class="image fit"><img src="assets/images/blues_challenge.jpg" alt="" /></span></div>
            <!-- Break -->
            <div class="4u"><span class="image fit"><img src="assets/images/street2.jpg" alt="" /></span></div>
            <div class="4u"><span class="image fit"><img src="assets/images/bar_bw.jpg" alt="" /></span></div>
            <div class="4u$"><span class="image fit"><img src="assets/images/timo_c.jpg" alt="" /></span></div>
            <!-- Break -->
            <div class="4u"><span class="image fit"><img src="assets/images/trr.jpg" alt="" /></span></div>
            <div class="4u"><span class="image fit"><img src="assets/images/zomerparkfeest.jpg" alt="" /></span></div>
            <div class="4u$"><span class="image fit"><img src="assets/images/band_cl2.png" alt="" /></span></div>
        </div>
    </div>
</section>


