<!--<section id="one" class="tiles">
	{% for post in site.posts limit:site.tiles-count %}
	{% if site.tiles-source == 'posts' %}
        <article>
                <span class="image">
                        <img src="{{ post.image }}" alt="" />
                </span>
                <header class="major">
                        <h3><a href="{{ post.url  | relative_url }}" class="link">{{ post.title }}</a></h3>
                        <p>{{ post.description }}</p>
                </header>
        </article>
	{% endif %}
	{% endfor %}
	{% for page in site.pages limit:site.tiles-count %}
	{% if site.tiles-source == 'pages' %}
        <article>
                <span class="image">
                        <img src="{{ page.image }}" alt="" />
                </span>
                <header class="major">
                        <h3><a href="{{ page.url | relative_url  }}" class="link">{{ page.title }}</a></h3>
                        <p>{{ page.description }}</p>
                </header>
        </article>
	{% endif %}
	{% endfor %}
</section> -->

<section id="two" class="tiles">
    <article>
        <span class="image">
            <img src="assets/images/pic17.jpg" alt="" />
        </span>
        <header class="major">
            <h3><a href="landing.html" class="link">Aliquam</a></h3>
            <p>Ipsum dolor sit amet</p>
        </header>
    </article>
    <article>
        <span class="image">
            <img src="assets/images/pic15.jpg" alt="" />
        </span>
        <header class="major">
            <h3><a href="landing.html" class="link">Tempus</a></h3>
            <p>feugiat amet tempus</p>
        </header>
    </article>
    <article>
        <span class="image">
            <img src="assets/images/pic13.jpg" alt="" />
        </span>
        <header class="major">
            <h3><a href="landing.html" class="link">Magna</a></h3>
            <p>Lorem etiam nullam</p>
        </header>
    </article>
    <article>
        <span class="image">
            <img src="assets/images/pic13.jpg" alt="" />
        </span>
        <header class="major">
            <h3><a href="landing.html" class="link">Ipsum</a></h3>
            <p>Nisl sed aliquam</p>
        </header>
    </article>
    <article>
        <span class="image">
            <img src="assets/images/banner1.jpg" alt="" />
        </span>
        <header class="major">
            <h3><a href="landing.html" class="link">Consequat</a></h3>
            <p>Ipsum dolor sit amet</p>
        </header>
    </article>
    <article>
        <span class="image">
            <img src="assets/images/banner1.jpg" alt="" />
        </span>
        <header class="major">
            <h3><a href="landing.html" class="link">Etiam</a></h3>
            <p>Feugiat amet tempus</p>
        </header>
    </article>
</section>
