<!--<section id="one" class="tiles">
	{% for post in site.posts limit:site.tiles-count %}
	{% if site.tiles-source == 'posts' %}
        <article>
                <span class="image">
                        <img src="{{ post.image }}" alt="" />
                </span>
                <header class="major">
                        <h3><a href="{{ post.url  | relative_url }}" class="link">{{ post.title }}</a></h3>
                        <p>{{ post.description }}</p>
                </header>
        </article>
	{% endif %}
	{% endfor %}
	{% for page in site.pages limit:site.tiles-count %}
	{% if site.tiles-source == 'pages' %}
        <article>
                <span class="image">
                        <img src="{{ page.image }}" alt="" />
                </span>
                <header class="major">
                        <h3><a href="{{ page.url | relative_url  }}" class="link">{{ page.title }}</a></h3>
                        <p>{{ page.description }}</p>
                </header>
        </article>
	{% endif %}
	{% endfor %}
</section> -->

<section id="two" class="tiles">
    <article>
        <span class="image">
            <img src="assets/images/pic17.jpg" alt="" />
        </span>
        <header class="">
            <p>An energizing mix of old-skool ragtime, gypsyjazz and roots/blues, played with a rock ‘n roll attitude: "Rag ‘n Roll!"</p>
            <h3>Let the ragtime's roll!!</h3>
        </header>
    </article>
    <article>
        <span class="image">
            <img src="assets/images/band_bw2.jpg" alt="" />
        </span>
        <header class="">
            <p>After a year of busking, gigging The Netherlands and doing a few European tours we're going to represent our country in Memphis, Tennessee at the Worldwide Blues Challenge next January.</p>
            <p>We're currently working on another big project, our 16 song debut album “Comic And Other Songs For Smokey Concerts”, which will be released in March.</p>
            <h3>Winner of The Dutch Blues Challenge 2017.</h3>
        </header>
    </article>
    <article>
        <span class="image">
            <img src="assets/images/tom_410.jpg" alt="" />
        </span>
        <header class="major">
            <h3><a href="audio.html" class="link">Tom Janssen</a></h3>
            <p>Lead Vocals, Banjo & Guitar</p>
        </header>
    </article>
    <article>
        <span class="image">
            <img src="assets/images/timo_410.jpg" alt="" />
        </span>
        <header class="major">
            <h3><a href="audio.html" class="link">Thimo Gijezen</a></h3>
            <p>Guitar, Piano, Banjo, Contrabass & Vocals</p>
        </header>
    </article>
    <article>
        <span class="image">
            <img src="assets/images/niki_410.jpg" alt="" />
        </span>
        <header class="major">
            <h3><a href="audio.html" class="link">Niki v.d. Schuren</a></h3>
            <p>Contrabass, Saxophone, Flute & Vocals</p>
        </header>
    </article>
     <article>
        <span class="image">
            <img src="assets/images/sjaak.jpg" alt="" />
        </span>
        <header class="major">
            <h3><a href="audio.html" class="link">Sjaak Korsten</a></h3>
            <p>Drums, Washboard & Vocals</p>
        </header>
    </article>
</section>
