
<!-- One -->
<section id="video">
	
	<div class="inner">
		
        <video width="90%" controls preload="metadata">
            <source src="assets/media/the_ragtime_rumours-way_too_smart_for_that.webm#t=1,100" type="video/webm">
            <source src="https://kaosx.us/media/the_ragtime_rumours-way_too_smart_for_that.mp4#t=1,100" type="video/mp4">
            Your browser does not support the video tag.
        </video>
 
		<h4>The Ragtime Rumours - Way Too Smart For That</h4>

	</div>
	
</section>

