
<!-- One -->
<section id="video">
	
	<div class="inner">
		<header class="major">
			<h2>The Ragtime Rumours - Way Too Smart For That</h2>
		</header>
		
        <video width="90%" controls>
            <source src="https://kaosx.us/media/the_ragtime_rumours-way_too_smart_for_that.mp4#t=1,100" type="video/mp4">
            Your browser does not support the video tag.
        </video>
	</div>
	
	<div class="inner">
		<header class="major">
			<h2>The Ragtime Rumours - Love  Lust (official videoclip)</h2>
		</header>
		
        <video width="90%" controls>
            <source src="assets/media/the_ragtime_rumours_love_lust.mp4#t=1,100" type="video/mp4">
            Your browser does not support the video tag.
        </video>
	</div>
	
	<div class="inner">
		<header class="major">
			<h2>The Ragtime Rumours - Ain't Nobody</h2>
		</header>
		
        <video width="90%" controls>
            <source src="https://kaosx.us/media/the_ragtime_rumours-ain't_nobody.mp4#t=3,100" type="video/mp4">
            Your browser does not support the video tag.
        </video>
	</div>
	
</section>

