<!DOCTYPE html>

<html>

{% include head.html %}

<body>

    {% include header.html %}

    <!-- Banner -->
    <section id="banner" class="major">
        <div class="inner">
            <header class="major">
                <h1>{{ page.landing-title }}</h1>
            </header>
            
            <!-- One -->
            <section id="one">
                <div class="inner">
                
                    {{ content }}
                    
                </div>
            </section>
            <div class="test">
                <div class="content">
                
                    <!--<p style="text-transform: uppercase;">{{ site.description }}</p>-->
                    <!--<a href="#video" class="button scrolly">Videos</a>-->
                    <a href="#two" class="button scrolly">About</a>
                    <!--<a href="#audio" class="button scrolly">Album</a>
                    <a href="#images" class="button scrolly">Images</a>-->
                    <a href="#three" class="button scrolly">Events</a>
                    <a href="#contact" class="button scrolly">Contact</a>
                </div> 
            </div>
        </div>
    </section>

    <!-- Main -->
    <div id="main">
        
        <!-- One -->
        {% include video2.html %}
        
        <!-- Two -->
        {% include tiles.html %}
        
         
        
        <!-- Three -->
        <section id="three">
            <div class="inner">
                <div class="media-link"> <!-- use wrapper.scss, media section -->
                    <header class="major">
                        <h2>Upcoming Events</h2>
                    </header>
                
                    {% include events.md %}
                </div>
            
            </div>
        </section>

    </div>

    {% include footer.html %}

</body>

</html>
