
/* Wrapper */

	#wrapper {
		@include vendor('transition', (
			'filter #{_duration(menu)} ease',
			'-webkit-filter #{_duration(menu)} ease',
			'opacity 0.375s ease-out'
		));
		padding-top: 3.25em;

		&.is-transitioning {
			opacity: 0;
		}

		> * {
			@include inner;
		}

		@include breakpoint(small) {
			padding-top: 2.75em;
		}
	}

/* video & audio link button/external players */
 
.media-link {
	position: relative;
    z-index: 10;
}

.media-audio {
	position: relative;
    z-index: 10;
    width: 50%;
    margin: 25%;
    float:right;
	cursor: pointer;
    text-decoration: none !important;
}
